.Page {
  display: flex;
  flex-wrap: wrap;
}

.Page__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section__menu {
  background-color: #f9f9f9;
  height: 80px;
  border-bottom: 1px solid #e3e3e3;
}

.Section__header {
  background-color: #f4f4f4;
  color: #666666;
  font-size: .35rem;
  height: 25px;
  justify-content: start;
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Section__content {
  background-color: #fff;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}
