body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2f2f2f;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Small Devices, Tablets */
/* Mobile Styles */
@media only screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    font-size: 16px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}